* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}


html {
    scroll-behavior: smooth;
}


.container {
    padding: 0 100px 0 100px;
}


nav ul,
.main-info-section,
.work-category {
        display: flex;
        flex-wrap: wrap;
        justify-content: space;
}

body {
    background-color:black;
}

header {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.nabvar {
    background-color:#181818;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
    color: #707070;
}


li {
    list-style: none;
    margin-left: 10px;
}

a {
   text-decoration-style: wavy; 
   font-size: .9rem;
   text-transform: uppercase;
   position: relative;
   top: 50%;
   bottom: 50%;
   transform: translateY(-50%)
}

.main-info-section {
    height: calc(100vh - 81.6px);
}

.text {
    margin-top: 120px;
}

.text h1 {
    color: white;
    font-size: 3rem;
    cursor: context-menu;
}

.text span{
    display: inline-block;
}

span.m left{
    margin-left: -10px ;

}

.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color:#ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition:.7s;
    display: inline-block;

}

.text a:hover {
    color: #fff;

}

.text a::before {
    content: '';
    background-color:#ED5565;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:0%;
    z-index:-1;
    transition:.7s;
}

.text a:hover::before {
    height: 100%;
}


.profile-image img{
    width:450px;
    margin-top:50px;
  justify-content: right;
}

.about {
    height: 100vh;
    margin-top: 100px;

}

.about h1,
.work h1{
    font-size: 10rem;
    z-index: 0;
    opacity: .1;

}

.about-me-info {
    max-width: 900px;
    background-color: khaki;
    box-shadow: 0 0  1.2rem rgb(0,0,0,25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50px;
    right: 50px;
    transform:translateX(-50%);
    z-index: 1;
}


.about-me-info p {
    font-size:1.3rem;
    color: #ED5565;

}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
    margin-top:30px;
}


.about img {
    width:300px;
    position: relative;
    top: 300px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    transform:translateX(-100% +100px);
}

.skills,
.contact h1 {
    text-align : right;
    font-size: 10rem;
    opacity: .1;
}


.skills-info {
    font-size: 1.4rem;
    color: #bebebe;
    max-width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}

.html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}


